<?xml version='1.0' encoding='windows-1252'?>
<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>
<?if $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformInstallerVersion = "500" ?>
<?else ?>
    <?define PlatformInstallerVersion = "450" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='RepositoryTree'
        UpgradeCode='{3A9166E5-EB30-45B6-8128-C19FEA3A26DF}'
        Manufacturer='AutoExplore Oy'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package
            Id='*'
            Keywords='Installer'
            Description='RepositoryTree desktop application'
            Manufacturer='AutoExplore Oy'
            InstallerVersion='$(var.PlatformInstallerVersion)'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='RepositoryTree Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='RepositoryTree'>
                    <Component Id='License' Guid='*'>
                        <File
                            Id='LicenseFile'
                            Name='LICENSE-AGPL-3.0'
                            DiskId='1'
                            Source='LICENSE-AGPL-3.0'
                            KeyPath='yes'/>
                    </Component>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='{206A9CFD-BF69-4386-851B-D88EECA93314}' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>

                        <Component Id='MainBinary' Guid='*'>
                            <File
                                Id='MainExeFile'
                                Name='repositorytree.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\repositorytree.exe'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
                <Directory Id='RepositoryTreeProgramMenuDir' Name='RepositoryTree'>
                    <Component Id='StartMenuShortcut' Guid='*'>
                        <Shortcut
                            Id='RepositoryTreeStartMenuShortcut'
                            Directory='RepositoryTreeProgramMenuDir'
                            Name='RepositoryTree'
                            Description='Git GUI built with GPUI'
                            Target='[Bin]repositorytree.exe'
                            WorkingDirectory='APPLICATIONFOLDER'
                            Icon='ProductICO'
                            IconIndex='0'
                            Advertise='no'/>
                        <RemoveFolder Id='RemoveRepositoryTreeProgramMenuDir' Directory='RepositoryTreeProgramMenuDir' On='uninstall'/>
                        <RegistryValue
                            Root='HKCU'
                            Key='Software\AutoExplore\RepositoryTree'
                            Name='StartMenuShortcut'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='MainBinary'/>
            <ComponentRef Id='StartMenuShortcut'/>

            <Feature
                Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the install location of the [ProductName] executable to the PATH system environment variable.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <Icon Id='ProductICO' SourceFile='assets\\repositorytree.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO'/>
        <Property Id='ARPHELPLINK' Value='https://github.com/RepositoryTree/RepositoryTree'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
        </UI>
    </Product>
</Wix>
